*{
    margin: 0 auto;
}
/* Font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Header area CSS Start */
#navbar{
    background-color: #2B3990;
    color: #FFFFFF;
    padding: 20px 0px;
}
.navbar-conatiner{
    margin: 0 30px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    align-items: center;
}
.logo h3{
    font-family: "Poppins", sans-serif;
    text-align: center;

}
.logo h3 span{
    color: #F7941D;
    font-size: 1.5rem;
}
.manu{
    /* display: flex; */
}
.manu ul li{
    display: inline-block;
    list-style: none;
}
.manu ul li a{
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    text-decoration: none;
    padding: 0px 10px;
    font-size: 1rem;
    font-weight: bold;
}

.manu ul li a:hover{
    color: #F7941D;
}

.navleft{
    margin-left: 10px;
}
.navleft button{
    padding: 1rem;
    font-size: 1rem;
    border-radius: 5px;
    /* font-weight: 600; */
    background-color: #F7941D;
    color: #FFFFFF;
    border: 1px solid #333333;
    font-weight: bold;
    transition-duration: 1s;
}
.navleft button:hover{
    background-color: #2B3990;
}

/* hero section css start */
#hero{
    padding: 100px 0px;
    margin: 0px 50px;
}
.hero-conatianer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-left-content{
    width: 50%;
}
.hero-right-content{
    width: 50%;
    text-align: center;
}
.hero-left-content img{
    width: 100%;
    border-radius: 1rem;
}
.hero-right-content h2{
    color: #2B3990;
    font-size: 1.75rem;
}
.hero-right-content h4{
    color: #EE1C24;
    padding: .5rem 0rem;
}
.hero-right-content > .join{
    margin-top: 1.5rem;
}
.btn-active{
    background-color: #EE1C24 !important;
}
.join button{
    padding: 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    /* font-weight: 600; */
    background-color: #2B3990;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    font-weight: bold;
    margin-left: 1rem;
}

/* About Section Start */
#about-section{
    padding: 70px 0px;
    background: #2B3990;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    line-height: 2.5rem; 
    border-top: 2px solid #333333;
    border-bottom: 2px solid #333333;
    
}
.about-continer{
    margin: 0px 50px;
}
.about-top, .course-top{
    text-align: center;
}
.about-top h1{
    font-size: 2.5rem;
    color: #F7941D;
}
.about-top h3{
    padding: 1rem 0rem;
    font-size: 1.5rem;
}
.about-content{
    padding: 1.5rem;
    background: #f5f7fb;
    color: #333333;
    border-radius: .5rem;
    border: 2px solid #333333;
}
.about-content ul li{
    list-style: none;
}
.about-content ul li i{
    color: #F7941D;
    padding-right: 10px;
}
.about-content p{
    /* font-size: 1.5rem; */
}
.about-content h4{
    color: #2B3990;
    font-size: 1.5rem;
    padding-top: 1rem;
}
.about-button{
    margin-top: 3rem;
    text-align: center;
}
.about-button a{
    padding: 1rem;
    color: #FFFFFF;
    background: #2B3990;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    border: 3px solid #333333;
    transition-duration: 1s;
}
.about-button a:hover{
    color: #333333;
    background: #FFFFFF;
}
/* Course section css start */
#our-course{
    background: #f5f7fb;
     padding: 70px 0px;
}
.course-container{
    margin: 0px 50px;
   
}
.course-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 column */
    gap: 2rem; /* column/row এর মধ্যে spacing */
    /* max-width: 1200px; */
}
.evening-imgae img{
    width: 100%;
}
.course-top{
    padding-bottom: 3.5rem;
}
.course-top h1{
    font-size: 2.5rem;
    color: #2B3990;
    padding-bottom: 1rem;
}
.course-top h3{
    /* padding: 2rem 0rem; */
    font-size: 1.5rem;
}
.course-items{
    background: #FFFFFF;
    padding: 1rem;
    border-radius: 1rem;
    
}


.course-items-content{
    /* background: #f5f7fb; */
    
}
.course-items-content h3{
    font-size: 1.5rem;
    color: #2B3990;
    padding-bottom: .75rem;
    padding-top: 1rem;
    font-weight: 900;
}
.course-items-content h4{
    color: #333333;
    padding-bottom: 1.5rem;
    font-weight: 700;
    font-size: 1rem;
}
.course-items-content p{
    line-height: 1.5rem;
    color: #2B3990;
    font-weight: 700;
    font-size: 12px;
}
.course-items-content i{
    color:#EE1C24;
    padding-right: 1rem;
}

.course-button a button{
     font-size:  1rem;
     padding: .5rem 1rem;
     font-weight: 700;
     background: #2B3990;
     color: #FFFFFF; 
     border: 1px solid #F7941D;
     margin-top: 1rem;
}