*{
    margin: 0 auto;
    font-family: 'Hind Siliguri', sans-serif;
}
/* Font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/hindsiliguri/v14/ijwTs5juQtsyLLR5jN4cxBEoTI7ax9k0.woff2) format('woff2');
    unicode-range: U +0951 -0952, U +0964 -0965, U +0980 -09FE, U +1CD0, U +1CD2, U +1CD5 -1CD6, U +1CD8, U +1CE1, U +1CEA, U +1CED, U +1CF2, U +1CF5 -1CF7, U +200C -200D, U +20B9, U +25CC, U + A8F1;
}
/* Header area CSS Start */
#navbar{
    background-color: #1a235e;
    color: #FFFFFF;
    padding: 20px 0px;
    border-bottom: 3px solid #F7941D;
}
.navbar-conatiner{
    margin: 0 30px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    align-items: center;
}
.logo h3{
    /* font-family: "Poppins", sans-serif; */
    text-align: center;

}
.logo h3 span{
    color: #F7941D;
    font-size: 1.5rem;
}
.manu{
    /* display: flex; */
}
.manu ul li{
    display: inline-block;
    list-style: none;
}
.manu ul li a{
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    text-decoration: none;
    padding: 0px 10px;
    font-size: 1rem;
    font-weight: bold;
}

.manu ul li a:hover{
    color: #F7941D;
}

.navleft{
    margin-left: 10px;
}
.navleft button{
    padding: .5rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    /* font-weight: 600; */
    background-color: #F7941D;
    color: #FFFFFF;
    border: 1px solid #333333;
    font-weight: bold;
    transition-duration: 1s;
}
.navleft button:hover{
    background-color: #2B3990;
}
.navleft ul{
    display: none;
}
/* hero section css start */
#hero{
    padding: 100px 0px;
    /* background-color: #1a237e; */
   
   
}
.hero-conatianer{
    margin: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-left-content{
    width: 50%;
    text-align: right;
}
.hero-right-content{
    width: 50%;
    text-align: left;
}
.hero-left-content img{
    width: 100%;
    border-radius: 1rem;
}
.hero-right-content h1{
    font-size: 3rem;
    line-height: 4rem;
    color: #1a235e;
}
.hero-right-content h1 span{
    color: #F7941D;
}
.hero-right-content h2{
    color: #333333;
    font-size: 1.5rem;
    padding-top: 1.5rem;
}
.hero-right-content h4{
    color: #191717;
    padding: .5rem 0rem;
}
.hero-right-content > .join{
    margin-top: 1.5rem;
}
.btn-active{
    background-color: #182746!important
}
.join button{
    padding: 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    /* font-weight: 600; */
    background-color: #2B3990;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    font-weight: bold;
    margin-right: 1.5rem;
}

/* galalry */
#gallary{
    background-color: #F9F9F9;
    padding: 70px 0px;
}
.gallary-container{
    margin: 0px 30px;
    padding: 40px 30px;
    background-color: #ffffff;
    border-radius: 1rem;
}
.gallery-header{
    text-align: center;
    padding-bottom: 3rem;
}
.gallery-header h2{
    font-size: 3rem;
    color: #2C3E50;
}
.gallery-header h2::after
 {
    content: '';
    display: block;
    width: 80px;
    height: 4px;
    background-color: #ff9f43;
    margin: 10px auto 0;
    border-radius: 2px;
}
.gallery-header p{
    padding-top: 1rem;
    color: #7F8C8D;
}
.gaalry-content{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
}


.gallary-iteams {
    position: relative;
    overflow: hidden; 
    border-radius: 10px; 
    cursor: pointer; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallary-iteams:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.gallary-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
    color: #fff;
    opacity: 0; 
    transition: opacity 0.3s ease; 
    /* display: flex;
    flex-direction: column;
    justify-content:flex-end; */
}
.gallary-overlay h4{
    color: #F7941D;
}

.gallary-iteams:hover .gallary-overlay {
    opacity: 1; 
}
.gallary-iteams img{
    width: 100%;
    border-radius: 1rem;
}


/* About Section Start */
#about-section{
    padding: 70px 0px;
    background: #2B3990;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    line-height: 2.5rem; 
    border-top: 2px solid #333333;
    border-bottom: 2px solid #333333;
    
}
.about-continer{
    margin: 0px 50px;
}
.about-top, .course-top{
    text-align: center;
}
.about-top h1{
    font-size: 2.5rem;
    color: #F7941D;
}
.about-top h3{
    padding: 1rem 0rem;
    font-size: 1.5rem;
}
.about-content{
    padding: 1.5rem;
    background: #f5f7fb;
    color: #333333;
    border-radius: .5rem;
    border: 2px solid #333333;
}
.about-content ul li{
    list-style: none;
}
.about-content ul li i{
    color: #F7941D;
    padding-right: 10px;
}
.about-content p{
    /* font-size: 1.5rem; */
}
.about-content h4{
    color: #2B3990;
    font-size: 1.5rem;
    padding-top: 1rem;
}
.about-button{
    margin-top: 3rem;
    text-align: center;
}
.about-button a{
    padding: 1rem;
    color: #FFFFFF;
    background: #2B3990;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    border: 3px solid #333333;
    transition-duration: 1s;
}
.about-button a:hover{
    color: #333333;
    background: #FFFFFF;
}
/* Course section css start */
#our-course{
    background: #1a235e;
     padding: 70px 0px;
}
.course-container{
    margin: 0px 50px;
   
}
.course-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 column */
    gap: 2rem; /* column/row এর মধ্যে spacing */
    /* max-width: 1200px; */
}
.evening-imgae img{
    width: 100%;
}
.course-top{
    padding-bottom: 3.5rem;
}
.course-top h1{
    font-size: 2.5rem;
    color: #F7941D;
    padding-bottom: 1rem;
}
.course-top h3{
    /* padding: 2rem 0rem; */
    font-size: 1.5rem;
    color: #f5f7fb;
}
.course-items{
    background: #F9F9F9;
    padding: 1.5rem 1rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.08);
    transition: 0.3s;
    border-bottom: 4px solid transparent;
    
}
.course-items:hover{
    transform: translateY(-10px);
    border-bottom: 4px solid #F7941D;
}

.course-items-content{
    /* background: #f5f7fb; */
    
}
.course-items-content h3{
    font-size: 1.2rem;
    color: #2B3990;
    padding-bottom: .75rem;
    padding-top: 1rem;
    font-family: "Roboto", sans-serif;
}
.course-items-content h4{
    color: #333333;
    padding-bottom: 1.5rem;
    font-size: 1rem;
}
.course-items-content ul{
    margin: 0px;
}
.course-items-content p {
    color: #333333;
    font-size: 1rem;
    list-style: none;
}
.course-items-content i{
    color:#F7941D;
    padding-right: 1rem;
}
.course-button{
    text-align: center;
    margin: 20px 0px;

}
.course-button a button{
    font-size:  1rem;
    padding: .5rem 3.5rem;
    background: #2B3990;
    color: #FFFFFF; 
    border: 1px solid #F7941D;
    margin-top: 1rem;
    border-radius: .5rem;
    transition: .3s;
    cursor: pointer;
}
.course-button a button:hover{
    background: #ffffff;
    color: #2B3990; 
    border: 3px solid #2B3990;
}